{% extends "layout.html" %}

{% block title %}
    Google Calendar Parser
{% endblock %}

{% block main %}
<div class="container calendar-list">
{% for event in eventList %}

    <div class="container calendar-list-item my-3">
        <div class="metadata" itemscope="" itemtype="http://schema.org/Event">
            <span itemprop="name">{{ event['title'] }}</span>
            <span itemprop="startDate">{{ event['start_dttm_iso'] }}</span>
            <span itemprop="endDate">{{ event['end_dttm_iso'] }}</span>
            
            <span itemprop="image" content=""></span> <!-- TODO -->
            
            <span itemprop="description">{{ event['description'] }}</span>
            <span itemprop="url" content=""></span> <!-- TODO -->
    
            <span itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">{{ performer['name'] }}</span>
                <span itemprop="givenName">{{ performer['givenName'] }}</span>
                <span itemprop="familyName">{{ performer['familyName'] }}</span>
            </span>
    
            <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                <span itemprop="name">{{ event['locationName'] }}</span>
                <span itemprop="address">{{ event['locationAddress'] }}</span>      
            </span>
        </div>

        <div class="row">
            <div class="col-xs-2 col-md-2 align-middle mt-2 border-right border-dark">
                <span class="h2 d-block text-center">{{ event['start_day'] }}</span>
                <span class="h6 d-block text-center">{{ event['start_month'] }}</span>
            </div>
            <div class="col-xs-10 col-md-10 align-middle">
                <div class="row">
                    <div class="col-lg-3 align-middle">
                        <p class="lead">{{ event['start_weekday'] }} <br />
                        {{ event['start_time'] }} - {{ event['end_time'] }} <br />
                        {{ event['type'] }}
                        </p>
                    </div>
                    <div class="col-lg-9 align-middle">
                        <h3>{{ event['title'] }}</h3>
                        <h5>{{ event['locationName'] }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}