{% extends "layout.html" %}

{% block title %}
    Google Calendar Parser
{% endblock %}

{% block main %}
<div class="container calendar-list bg-white pattern-cross-dots-md py-1 mx-auto">
{% for event in eventList %}

    <div id="{{ event['start_dttm_iso']}}" class="container calendar-list-item shadow-sm p-3 my-5 bg-white rounded">
        <div class="metadata" itemscope="" itemtype="http://schema.org/Event">
            <span itemprop="name">{{ event['title'] }}</span>
            <span itemprop="startDate">{{ event['start_dttm_iso'] }}</span>
            <span itemprop="endDate">{{ event['end_dttm_iso'] }}</span>
            
            <span itemprop="image" content=""></span> <!-- TODO -->
            
            <span itemprop="description">{{ event['description'] }}</span>
            <span itemprop="url" content=""></span> <!-- TODO -->
    
            <span itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
                <span itemprop="name">{{ performer['name'] }}</span>
                <span itemprop="givenName">{{ performer['givenName'] }}</span>
                <span itemprop="familyName">{{ performer['familyName'] }}</span>
            </span>
    
            <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                <span itemprop="name">{{ event['locationName'] }}</span>
                <span itemprop="address">{{ event['locationAddress'] }}</span>      
            </span>
        </div>
        <div class="row">
            <div class="event-date col-xs-2 col-md-2 align-middle mt-2 border-right" style="border-color: lightgrey;">
                <span class="h2 d-block text-center">{{ event['start_day'] }}</span>
                <span class="h5 d-block text-center">{{ event['start_month'] }}</span>
            </div>
            <div class="col-xs-10 col-md-10 align-middle">
                <div class="row event-top my-auto">
                    <div class="col-lg-3 my-auto">
                        <p class="lead mb-0">{{ event['start_weekday'] }}<br />{{ event['start_time'] }} - {{ event['end_time'] }} {%- if event['type'] != "" -%}<br />
                            {{ event['type'] }} {%- endif -%}
                        </p>
                    </div>
                    <div class="col-lg-7 align-middle">
                        <h3>{{ event['title'] }}</h3>
                        <h5 class="mt-2">{{ event['locationName'] }}</h5>
                    </div>
                    <div class="col-lg-2 h-100 align-bottom text-center ">
                        <a href="#{{ event['start_dttm_iso'] }}" class="learnMore btn btn-outline-secondary align-bottom">Mehr</a>
                    </div>
                </div>

                <div class="row row-cal-detail mt-3 collapse">
                    <div class="container row">
                        <div class="col-12">
                            <hr>
                            <p style="white-space: pre-wrap;">{{ event['description'] }}</p>
                            {% if event['location'] != "" %}<hr>{% endif %}
                        </div>
                    </div>
                    {% if event['location'] != "" %}
                    <div class="event-location container row">
                        <div class="col-sm-1 col-xs-10 d-block align-middle text-center my-auto ml-2">
                            <img class="align-middle" src="static/resources/iconfinder_location_115718.svg">
                        </div>
                        <div class="col-sm-7 col-xs-10">
                            <p class="mb-0"><strong>{{ event['locationName'] }}</strong> <br />{{ event['locationAddress'] }}</p>
                        </div>
                        <div class="col-sm-3 col-xs-3 align-bottom">
                            <a href="{{ event['locationMapsSearch'] }}" target="_blank">Auf Google Maps ansehen</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>

<script>
    $('div.row-cal-detail').hide();
    
    $('.learnMore').click(function() {
        var btn = $(this);
        var listItem = btn.parents('.calendar-list-item')
        var detail = listItem.find('.row-cal-detail');
        var currentOffset = $(this).offset().top - $(document).scrollTop();
        if (detail.is(":visible")) {
            detail.hide(500);
            btn.text("Mehr");
        }
        else {
            detail.show(500);
            btn.text("Weniger");
        }
        $(document).scrollTop(currentOffset);
        
    });
</script>
{% endblock %}