{% extends "layout.html" %}

{% block title %}
    Google Calendar Parser
{% endblock %}

{% block main %}
<div class="container-md mt-5">
    <h1 class="display-4 text-center mb-2">This is Google Calendar Parser.</h1>
    <p class="text-center mb-5 lead">- a beautiful way to put an event list fed by a Google Calendar into your html page.</p>
    <p class="text-center my-3">Made by Marcus Merkel for CS50's Final Project.</p>
    <p class="text-center mb-5">See source code on <a href="https://github.com/marcusmerkel/gcal-parse" target="_blank">GitHub</a> ... or just <strong>try it!</strong></p>
    <hr class="pattern mb-5">
    <div class="container w-75 mx-auto">
        <form action="/" method="POST">
            <div class="form-group">
                <label for="calendarID">Calendar ID</label>
                <input type="text" autocomplete="on" class="form-control" id="calendarID" name="calendarID">
                <small id="calendarIDhelp" class="form-text text-muted">The calendar ID of the Google Calendar to parse (you'll find this on <a href="https://calendar.google.com/" target="_blank">https://calendar.google.com/</a> in "My calendars" -> Options -> Settings and sharing -> Scroll down to Calendar ID).</small>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a Google calendar ID.
                </div>
            </div>
            <div class="form-group">
                <label for="maxNum">Number of Events</label>
                <input autocomplete="off" class="form-control" id="maxNum" name="maxNum" type="number">
                <small id="maxNumHelp" class="form-text text-muted">The maximum number of events you want to parse</small>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                <div class="invalid-feedback">
                    Please provide a number of events.
                </div>
            </div>

            <div class="form-group">
                <a href="#performer" id="performerButton" class="btn btn-outline-secondary">Add a "Performer" for all events (optional)</a> 
            </div>
            <div class="form-group" id="performer">
                <label for="performerName">Performer Full Name</label>
                <input type="text" class="form-control" id="performerName" name="performerName">
                <small id="performerNameHelp" class="form-text text-muted">Full name of the performer as in #Given Name(s)# #Family Name#. Optional.</small>
            </div>

            <div class="form-group">
                <a href="#category" id="categoryButton" class="btn btn-outline-secondary">Add Categories for your events (optional)</a> 
            </div>
            <div class="form-group" id="category">
                <label for="categories">Event Categories</label>
                <input type="text" class="form-control" id="categories" name="categories">
                <small id="categoriesHelp" class="form-text text-muted">Enter comma-separated categories which the script should be looking for in event descriptions. Like "opera, operetta, musical". Optional.</small>
            </div>
            <button class="btn btn-primary mt-2 mb-5" id="goButton" type="submit" disabled>Go for it</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#performer').hide()
        $('#category').hide()
    });

    $('#calendarID').focusout(function() {
        if ($(this).val() != "" ) {
            $(this).removeClass("is-invalid");
            $(this).addClass("is-valid");
        } else {
            $(this).removeClass("is-valid");
            $(this).addClass("is-invalid");
        }
        if (($('#calendarID').val() != "") && ($('#maxNum').val() != "")) {
            $('#goButton').prop('disabled', false);
        }
        else {
            $('#goButton').prop('disabled', true);
        }
    });
    $('#maxNum').focusout(function() {
        if ($(this).val() != "" ) {
            $(this).removeClass("is-invalid");
            $(this).addClass("is-valid");
        } else {
            $(this).removeClass("is-valid");
            $(this).addClass("is-invalid");
        }
        if (($('#calendarID').val() != "") && ($('#maxNum').val() != "")) {
            $('#goButton').prop('disabled', false);
        }
        else {
            $('#goButton').prop('disabled', true);
        }
    });

    $('#performerButton').click(function() {
        $('#performerButton').hide();
        $('#performer').show();
    });

    $('#categoryButton').click(function() {
        $('#categoryButton').hide();
        $('#category').show();
    })

</script>

{% endblock %}